//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 03 20:52:11 2018
//! **************************************************************************

SCHEMATIC START;
COMP "btn<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "hsync" LOCATE = SITE "B11" LEVEL 1;
COMP "vsync" LOCATE = SITE "B12" LEVEL 1;
COMP "rst" LOCATE = SITE "M18" LEVEL 1;
SCHEMATIC END;

